<?xml version="1.0" encoding="utf-8" standalone="no"?>
<VoidedDocuments
        xmlns="urn:sunat:names:specification:ubl:peru:schema:xsd:VoidedDocuments-1"
        xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"
        xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
        xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"
        xmlns:sac="urn:sunat:names:specification:ubl:peru:schema:xsd:SunatAggregateComponents-1"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <ext:UBLExtensions>
        <ext:UBLExtension>
            <ext:ExtensionContent>
            </ext:ExtensionContent>
        </ext:UBLExtension>
    </ext:UBLExtensions>

    <cbc:UBLVersionID>2.0</cbc:UBLVersionID>
    <cbc:CustomizationID>1.0</cbc:CustomizationID>

    <cbc:ID>RA-<%= comprobante.getFechaEmisionFormatoSunat().replace( /-/g , "" ) %>-<%= comprobante.numero %> </cbc:ID>
    <cbc:ReferenceDate><%= comprobante.getFechaDocsFormatoSunat() %></cbc:ReferenceDate>
    <cbc:IssueDate><%= comprobante.getFechaEmisionFormatoSunat() %></cbc:IssueDate>


    <%# DUENHO DE LA FIRMA %>
    <cac:Signature>
        <cbc:ID>SignatureTM</cbc:ID>
        <cac:SignatoryParty>
            <cac:PartyIdentification>
                <cbc:ID>20434178780</cbc:ID>
            </cac:PartyIdentification>

            <cac:PartyName>
                <cbc:Name>TELEMOVIL SAC</cbc:Name>
            </cac:PartyName>
        </cac:SignatoryParty>

        <cac:DigitalSignatureAttachment>
            <cac:ExternalReference>
                <cbc:URI>#SignatureTM</cbc:URI>
            </cac:ExternalReference>
        </cac:DigitalSignatureAttachment>
    </cac:Signature>

    <%# Emisor %>
    <cac:AccountingSupplierParty>
        <cbc:CustomerAssignedAccountID><%= emisor.idEmisor %></cbc:CustomerAssignedAccountID>
        <cbc:AdditionalAccountID>6</cbc:AdditionalAccountID>
        <cac:Party>
            <%if(emisor.nombreComercial!=null && emisor.nombreComercial.length>0){%>
            <cac:PartyName>
                <cbc:Name><%=emisor.nombreComercial%></cbc:Name>
            </cac:PartyName>
            <%}%>
            <cac:PostalAddress>
                <cbc:ID><%= emisor.domicilio.ubigeo %></cbc:ID>
                <cbc:StreetName><%= emisor.domicilio.direccion %></cbc:StreetName>
                <cbc:CitySubdivisionName><%= emisor.domicilio.urbanizacion %></cbc:CitySubdivisionName>
                <cbc:CityName><%= emisor.domicilio.departamento %></cbc:CityName>
                <cbc:CountrySubentity><%= emisor.domicilio.provincia %></cbc:CountrySubentity>
                <cbc:District><%= emisor.domicilio.distrito %></cbc:District>
                <cac:Country>
                    <cbc:IdentificationCode>PE</cbc:IdentificationCode>
                </cac:Country>
            </cac:PostalAddress>

            <cac:PartyLegalEntity>
                <cbc:RegistrationName><%= emisor.razonSocial %></cbc:RegistrationName>
            </cac:PartyLegalEntity>
        </cac:Party>
    </cac:AccountingSupplierParty>

    <%# Items%>
    <% comprobante.items.forEach(function( item , index ){ %>
    <sac:VoidedDocumentsLine>
        <cbc:LineID><%= index + 1 %></cbc:LineID>
        <cbc:DocumentTypeCode><%= item.tipoDocumento %></cbc:DocumentTypeCode>
        <sac:DocumentSerialID><%= item.serie %></sac:DocumentSerialID>
        <sac:DocumentNumberID><%= item.numero %></sac:DocumentNumberID>
        <sac:VoidReasonDescription><%= item.descripcion %></sac:VoidReasonDescription>
    </sac:VoidedDocumentsLine>
    <% }) %>
</VoidedDocuments>