<?xml version="1.0" encoding="utf-8" standalone="no"?>
<Invoice xmlns="urn:oasis:names:specification:ubl:schema:xsd:Invoice-2"
         xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"
         xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
         xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"
         xmlns:sac="urn:sunat:names:specification:ubl:peru:schema:xsd:SunatAggregateComponents-1">
    <ext:UBLExtensions>
        <ext:UBLExtension>
            <ext:ExtensionContent>
                <sac:AdditionalInformation>
                    <% if (comprobante.totalVentaGravada != null){ %>
                    <sac:AdditionalMonetaryTotal>
                        <cbc:ID>1001</cbc:ID>
                        <cbc:PayableAmount
                                currencyID="<%= comprobante.tipoMoneda %>"><%= comprobante.totalVentaGravada.toFixed(2) %></cbc:PayableAmount>
                    </sac:AdditionalMonetaryTotal>
                    <% } %>

                    <% if (comprobante.totalVentaInafecta != null){ %>
                    <sac:AdditionalMonetaryTotal>
                        <cbc:ID>1002</cbc:ID>
                        <cbc:PayableAmount
                                currencyID="<%= comprobante.tipoMoneda %>"><%= comprobante.totalVentaInafecta.toFixed(2) %></cbc:PayableAmount>
                    </sac:AdditionalMonetaryTotal>
                    <% } %>

                    <% if (comprobante.totalVentaExonerada != null){ %>
                    <sac:AdditionalMonetaryTotal>
                        <cbc:ID>1003</cbc:ID>
                        <cbc:PayableAmount
                                currencyID="<%= comprobante.tipoMoneda %>"><%= comprobante.totalVentaExonerada.toFixed(2) %></cbc:PayableAmount>
                    </sac:AdditionalMonetaryTotal>
                    <% } %>

                    <% if ( comprobante.totalVentaGratuita && comprobante.totalVentaGratuita != null){ %>
                    <sac:AdditionalMonetaryTotal>
                        <cbc:ID>1004</cbc:ID>
                        <cbc:PayableAmount
                                currencyID="<%= comprobante.tipoMoneda %>"><%= comprobante.totalVentaGratuita.toFixed(2) %></cbc:PayableAmount>
                    </sac:AdditionalMonetaryTotal>
                    <% } %>

                    <% if( comprobante.totalDescuento && comprobante.totalDescuento != null){ %>
                    <sac:AdditionalMonetaryTotal>
                        <cbc:ID>2005</cbc:ID>
                        <cbc:PayableAmount
                                currencyID="<%= comprobante.tipoMoneda %>"><%= comprobante.totalDescuento.toFixed(2) %></cbc:PayableAmount>
                    </sac:AdditionalMonetaryTotal>
                    <% } %>

                    <% if(comprobante.importePercepcion && comprobante.importePercepcion != null){ %>
                    <sac:AdditionalMonetaryTotal>
                        <cbc:ID schemeID="01">2001</cbc:ID>
                        <sac:ReferenceAmount
                                currencyID="PEN"><%= comprobante.totalVenta.toFixed(2) %></sac:ReferenceAmount>
                        <cbc:PayableAmount
                                currencyID="PEN"><%= comprobante.importePercepcion.toFixed(2) %></cbc:PayableAmount>
                        <sac:TotalAmount
                                currencyID="PEN"><%= (parseFloat(comprobante.totalVenta) + parseFloat(comprobante.importePercepcion)).toFixed(2) %></sac:TotalAmount>
                    </sac:AdditionalMonetaryTotal>
                    <% } %>

                    <% if(comprobante.get("importeLetras")){ %>
                    <sac:AdditionalProperty>
                        <cbc:ID>1000</cbc:ID>
                        <cbc:Value><%= comprobante.get("importeLetras") %></cbc:Value>
                    </sac:AdditionalProperty>
                    <% } %>

                    <% if( comprobante.leyendas != null && comprobante.leyendas.length > 0 && comprobante.leyendas.indexOf("1002") >= 0){ %>
                    <sac:AdditionalProperty>
                        <cbc:ID>1002</cbc:ID>
                        <cbc:Value>TRANSFERENCIA GRATUITA</cbc:Value>
                    </sac:AdditionalProperty>
                    <% } %>

                    <% if( comprobante.leyendas != null && comprobante.leyendas.length > 0 && comprobante.leyendas.indexOf("2000") >= 0){ %>
                    <sac:AdditionalProperty>
                        <cbc:ID>2000</cbc:ID>
                        <cbc:Value>COMPROBANTE DE PERCEPCION</cbc:Value>
                    </sac:AdditionalProperty>
                    <% } %>


                    <% if( comprobante.adicional!=null && comprobante.adicional.tipoOperacion!=null ){ %>
                    <sac:SUNATTransaction>
                        <cbc:ID><%= comprobante.adicional.tipoOperacion %></cbc:ID>
                    </sac:SUNATTransaction>
                    <% } %>

                </sac:AdditionalInformation>
            </ext:ExtensionContent>
        </ext:UBLExtension>
        <ext:UBLExtension>
            <ext:ExtensionContent>
            </ext:ExtensionContent>
        </ext:UBLExtension>
    </ext:UBLExtensions>

    <cbc:UBLVersionID>2.0</cbc:UBLVersionID>
    <cbc:CustomizationID>1.0</cbc:CustomizationID>

    <cbc:ID><%= comprobante.serie %>-<%= comprobante.numero %></cbc:ID>
    <cbc:IssueDate><%= comprobante.getFechaFormatoSunat() %></cbc:IssueDate>
    <cbc:InvoiceTypeCode>01</cbc:InvoiceTypeCode>
    <cbc:DocumentCurrencyCode><%= comprobante.tipoMoneda %></cbc:DocumentCurrencyCode>

    <%# DUENHO DE LA FIRMA %>
    <cac:Signature>
        <cbc:ID>SignatureTM</cbc:ID>
        <cac:SignatoryParty>
            <cac:PartyIdentification>
                <cbc:ID><%= emisor.idEmisor %></cbc:ID>
            </cac:PartyIdentification>

            <cac:PartyName>
                <cbc:Name><%- emisor.razonSocial %></cbc:Name>
            </cac:PartyName>
        </cac:SignatoryParty>

        <cac:DigitalSignatureAttachment>
            <cac:ExternalReference>
                <cbc:URI>#SignatureTM</cbc:URI>
            </cac:ExternalReference>
        </cac:DigitalSignatureAttachment>
    </cac:Signature>

    <%# Guias y Documentos relacionados%>
    <% if( comprobante.guiasRelacionada != null && comprobante.guiasRelacionada.length > 0){ %>
    <% comprobante.guiasRelacionada.forEach(function( guia ){ %>
    <cac:DespatchDocumentReference>
        <cbc:ID><%= guia.serie %>-<%= guia.numero %></cbc:ID>
        <cbc:DocumentTypeCode><%= guia.tipo %></cbc:DocumentTypeCode>
    </cac:DespatchDocumentReference>
    <% }); %>
    <% } %>

    <% if( comprobante.docRelacionada != null && comprobante.docRelacionada.length > 0){ %>
    <% comprobante.docRelacionada.forEach(function( doc ){ %>
    <cac:AdditionalDocumentReference>
        <cbc:ID><%= doc.numero %></cbc:ID>
        <cbc:DocumentTypeCode><%= doc.tipo %></cbc:DocumentTypeCode>
    </cac:AdditionalDocumentReference>
    <% }); %>
    <% } %>

    <%# Emisor %>
    <cac:AccountingSupplierParty>
        <cbc:CustomerAssignedAccountID><%= emisor.idEmisor %></cbc:CustomerAssignedAccountID>
        <cbc:AdditionalAccountID>6</cbc:AdditionalAccountID>
        <cac:Party>
            <% if(emisor.nombreComercial != null && emisor.nombreComercial.length > 0){ %>
            <cac:PartyName>
                <cbc:Name><%= emisor.nombreComercial %></cbc:Name>
            </cac:PartyName>
            <% } %>
            <cac:PostalAddress>
                <% if(emisor.domicilio && emisor.domicilio.ubigeo != null && emisor.domicilio.ubigeo.length > 0){ %>
                <cbc:ID><%= emisor.domicilio.ubigeo %></cbc:ID>
                <% } %>
                <% if(emisor.domicilio && emisor.domicilio.direccion != null && emisor.domicilio.direccion.length > 0){ %>
                <cbc:StreetName><%- emisor.domicilio.direccion %></cbc:StreetName>
                <% } %>
                <% if(emisor.domicilio && emisor.domicilio.urbanizacion != null && emisor.domicilio.urbanizacion.length > 0){ %>
                <cbc:CitySubdivisionName><%- emisor.domicilio.urbanizacion %></cbc:CitySubdivisionName>
                <% } %>
                <% if(emisor.domicilio && emisor.domicilio.departamento != null && emisor.domicilio.departamento.length > 0){ %>
                <cbc:CityName><%- emisor.domicilio.departamento %></cbc:CityName>
                <% } %>
                <% if(emisor.domicilio && emisor.domicilio.provincia != null && emisor.domicilio.provincia.length > 0){ %>
                <cbc:CountrySubentity><%- emisor.domicilio.provincia %></cbc:CountrySubentity>
                <% } %>
                <% if(emisor.domicilio && emisor.domicilio.distrito != null && emisor.domicilio.distrito.length > 0){ %>
                <cbc:District><%- emisor.domicilio.distrito %></cbc:District>
                <% } %>
                <cac:Country>
                    <cbc:IdentificationCode>PE</cbc:IdentificationCode>
                </cac:Country>
            </cac:PostalAddress>

            <cac:PartyLegalEntity>
                <cbc:RegistrationName><%- emisor.razonSocial %></cbc:RegistrationName>
            </cac:PartyLegalEntity>
        </cac:Party>
    </cac:AccountingSupplierParty>

    <%# Receptor %>
    <% if(comprobante.receptor && comprobante.receptor.tipo != 0 ){ %>
    <cac:AccountingCustomerParty>
        <cbc:CustomerAssignedAccountID><%- comprobante.receptor.idReceptor %></cbc:CustomerAssignedAccountID>
        <cbc:AdditionalAccountID><%= comprobante.receptor.tipo %></cbc:AdditionalAccountID>
        <cac:Party>
            <cac:PartyLegalEntity>
                <cbc:RegistrationName><%- comprobante.receptor.razonSocial %></cbc:RegistrationName>
            </cac:PartyLegalEntity>
        </cac:Party>
    </cac:AccountingCustomerParty>
    <% }else{ %>
    <cac:AccountingCustomerParty>
        <cbc:CustomerAssignedAccountID>-</cbc:CustomerAssignedAccountID>
        <cbc:AdditionalAccountID>6</cbc:AdditionalAccountID>
        <cac:Party>
            <cac:PartyLegalEntity>
                <cbc:RegistrationName><%- comprobante.receptor.razonSocial %></cbc:RegistrationName>
            </cac:PartyLegalEntity>
        </cac:Party>
    </cac:AccountingCustomerParty>
    <% } %>

    <%# Anticipos - Documentos Prepagados %>
    <% if( comprobante.adicional!=null && comprobante.adicional.documentosPrepagados!=null && Array.isArray(comprobante.adicional.documentosPrepagados) ){ %>
    <% comprobante.adicional.documentosPrepagados.forEach(function(docPrepagado) { %>
    <% if( docPrepagado.serie!=null && docPrepagado.numero!=null && docPrepagado.monto!=null ){ %>
    <cac:PrepaidPayment>
        <cbc:ID schemeID="01"><%= docPrepagado.serie %>-<%= docPrepagado.numero %></cbc:ID>
        <cbc:PaidAmount currencyID="<%=comprobante.tipoMoneda %>"><%= parseFloat(docPrepagado.monto).toFixed(2) %></cbc:PaidAmount>
        <cbc:InstructionID schemeID="6"><%= emisor.idEmisor %></cbc:InstructionID>
    </cac:PrepaidPayment>
    <% } %>
    <% }) %>
    <% } %>

    <cac:TaxTotal>
        <cbc:TaxAmount
                currencyID="<%= comprobante.tipoMoneda %>"><%= comprobante.sumatoriaIgv.toFixed(2) %></cbc:TaxAmount>
        <cac:TaxSubtotal>
            <cbc:TaxAmount
                    currencyID="<%= comprobante.tipoMoneda %>"><%= comprobante.sumatoriaIgv.toFixed(2) %></cbc:TaxAmount>
            <cac:TaxCategory>
                <cac:TaxScheme>
                    <cbc:ID>1000</cbc:ID>
                    <cbc:Name>IGV</cbc:Name>
                    <cbc:TaxTypeCode>VAT</cbc:TaxTypeCode>
                </cac:TaxScheme>
            </cac:TaxCategory>
        </cac:TaxSubtotal>
    </cac:TaxTotal>

    <%# ISC Opcional %>
    <% if( comprobante.sumatoriaIsc && comprobante.sumatoriaIsc != null) { %>
    <cac:TaxTotal>
        <cbc:TaxAmount
                currencyID="<%= comprobante.tipoMoneda %>"><%= comprobante.sumatoriaIsc.toFixed(2) %></cbc:TaxAmount>
        <cac:TaxSubtotal>
            <cbc:TaxAmount
                    currencyID="<%= comprobante.tipoMoneda %>"><%= comprobante.sumatoriaIsc.toFixed(2) %></cbc:TaxAmount>
            <cac:TaxCategory>
                <cac:TaxScheme>
                    <cbc:ID>2000</cbc:ID>
                    <cbc:Name>ISC</cbc:Name>
                    <cbc:TaxTypeCode>EXC</cbc:TaxTypeCode>
                </cac:TaxScheme>
            </cac:TaxCategory>
        </cac:TaxSubtotal>
    </cac:TaxTotal>
    <% } %>

    <%# Otros tributos Opcional %>
    <% if( comprobante.sumatoriaOtrosTributos && comprobante.sumatoriaOtrosTributos != null) { %>
    <cac:TaxTotal>
        <cbc:TaxAmount
                currencyID="<%= comprobante.tipoMoneda %>"><%= comprobante.sumatoriaOtrosTributos.toFixed(2) %></cbc:TaxAmount>
        <cac:TaxSubtotal>
            <cbc:TaxAmount
                    currencyID="<%= comprobante.tipoMoneda %>"><%= comprobante.sumatoriaOtrosTributos.toFixed(2) %></cbc:TaxAmount>
            <cac:TaxCategory>
                <cac:TaxScheme>
                    <cbc:ID>9999</cbc:ID>
                    <cbc:Name>OTROS</cbc:Name>
                    <cbc:TaxTypeCode>OTH</cbc:TaxTypeCode>
                </cac:TaxScheme>
            </cac:TaxCategory>
        </cac:TaxSubtotal>
    </cac:TaxTotal>
    <% } %>

    <cac:LegalMonetaryTotal>
        <% if(comprobante.descuentoGlobal && comprobante.descuentoGlobal != null){ %>
        <cbc:AllowanceTotalAmount currencyID="<%= comprobante.tipoMoneda %>"><%= comprobante.descuentoGlobal.toFixed(2) %></cbc:AllowanceTotalAmount>
        <% } %>

        <% if( comprobante.sumatoriaOtrosCargos != null){ %>
        <cbc:ChargeTotalAmount currencyID="<%= comprobante.tipoMoneda %>"><%= comprobante.sumatoriaOtrosCargos.toFixed(2) %></cbc:ChargeTotalAmount>
        <% } %>

        <% if(comprobante.adicional != null && comprobante.adicional.documentosPrepagados!=null &&Array.isArray(comprobante.adicional.documentosPrepagados)){%>
        <cbc:PrepaidAmount currencyID="<%= comprobante.tipoMoneda %>"><%= comprobante.getTotalAnticipos().toFixed(2) %></cbc:PrepaidAmount>
        <% }%>

        <cbc:PayableAmount currencyID="<%= comprobante.tipoMoneda %>"><%= comprobante.totalVenta.toFixed(2) %></cbc:PayableAmount>
    </cac:LegalMonetaryTotal>

    <% comprobante.items.forEach(function( item , index ){ %>
    <cac:InvoiceLine>
        <cbc:ID><%= index + 1 %></cbc:ID>
        <cbc:InvoicedQuantity unitCode="<%= item.unidadMedidaCantidad %>"><%= item.cantidad %></cbc:InvoicedQuantity>
        <cbc:LineExtensionAmount
                currencyID="<%= comprobante.tipoMoneda %>"><%= item.valorVenta.toFixed(2) %></cbc:LineExtensionAmount>

        <cac:PricingReference>
            <% if(item.tipoPrecioVentaUnitario == '02'){ %>
            <cac:AlternativeConditionPrice>
                <cbc:PriceAmount currencyID="<%= comprobante.tipoMoneda %>">0.00</cbc:PriceAmount>
                <cbc:PriceTypeCode>01</cbc:PriceTypeCode>
            </cac:AlternativeConditionPrice>
            <% } %>
            <cac:AlternativeConditionPrice>
                <cbc:PriceAmount
                        currencyID="<%= comprobante.tipoMoneda %>"><%= item.precioVentaUnitario.toFixed(2) %></cbc:PriceAmount>
                <cbc:PriceTypeCode><%= item.tipoPrecioVentaUnitario %></cbc:PriceTypeCode>
            </cac:AlternativeConditionPrice>
        </cac:PricingReference>

        <% if(item.descuento && item.descuento != null){ %>
        <cac:AllowanceCharge>
            <cbc:ChargeIndicator>false</cbc:ChargeIndicator>
            <cbc:Amount currencyID="<%= comprobante.tipoMoneda %>"><%= item.descuento %></cbc:Amount>
        </cac:AllowanceCharge>
        <% } %>

        <%# ISC OPCIONAL %>
        <% if(item.montoAfectacionIsc && item.montoAfectacionIsc != null && item.tipoAfectacionIsc != null){ %>
        <cac:TaxTotal>
            <cbc:TaxAmount
                    currencyID="<%= comprobante.tipoMoneda %>"><%= item.montoAfectacionIsc.toFixed(2) %></cbc:TaxAmount>
            <cac:TaxSubtotal>
                <cbc:TaxAmount
                        currencyID="<%= comprobante.tipoMoneda %>"><%= item.montoAfectacionIsc.toFixed(2) %></cbc:TaxAmount>
                <cac:TaxCategory>
                    <cbc:TierRange><%= item.tipoAfectacionIsc %></cbc:TierRange>
                    <cac:TaxScheme>
                        <cbc:ID>2000</cbc:ID>
                        <cbc:Name>ISC</cbc:Name>
                        <cbc:TaxTypeCode>EXC</cbc:TaxTypeCode>
                    </cac:TaxScheme>
                </cac:TaxCategory>
            </cac:TaxSubtotal>
        </cac:TaxTotal>
        <% } %>

        <cac:TaxTotal>
            <cbc:TaxAmount
                    currencyID="<%= comprobante.tipoMoneda %>"><%= item.montoAfectacionIgv.toFixed(2) %></cbc:TaxAmount>
            <cac:TaxSubtotal>
                <cbc:TaxAmount
                        currencyID="<%= comprobante.tipoMoneda %>"><%= item.montoAfectacionIgv.toFixed(2) %></cbc:TaxAmount>
                <cac:TaxCategory>
                    <cbc:TaxExemptionReasonCode><%= item.tipoAfectacionIgv %></cbc:TaxExemptionReasonCode>
                    <cac:TaxScheme>
                        <cbc:ID>1000</cbc:ID>
                        <cbc:Name>IGV</cbc:Name>
                        <cbc:TaxTypeCode>VAT</cbc:TaxTypeCode>
                    </cac:TaxScheme>
                </cac:TaxCategory>
            </cac:TaxSubtotal>
        </cac:TaxTotal>

        <cac:Item>
            <cbc:Description><%- item.descripcion %></cbc:Description>

            <% if(item.codigoProducto != null){ %>
            <cac:SellersItemIdentification>
                <cbc:ID><%- item.codigoProducto %> </cbc:ID>
            </cac:SellersItemIdentification>
            <% } %>

        </cac:Item>

        <cac:Price>
            <cbc:PriceAmount
                    currencyID="<%= comprobante.tipoMoneda %>"><%= item.valorUnitario.toFixed(2) %></cbc:PriceAmount>
        </cac:Price>

    </cac:InvoiceLine>
    <% }); %>

</Invoice>