<?xml version="1.0" encoding="utf-8" standalone="no"?>

<CreditNote
        xmlns="urn:oasis:names:specification:ubl:schema:xsd:CreditNote-2"
        xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"
        xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
        xmlns:ccts="urn:un:unece:uncefact:documentation:2"
        xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"
        xmlns:qdt="urn:oasis:names:specification:ubl:schema:xsd:QualifiedDatatypes-2"
        xmlns:sac="urn:sunat:names:specification:ubl:peru:schema:xsd:SunatAggregateComponents-1"
        xmlns:udt="urn:un:unece:uncefact:data:specification:UnqualifiedDataTypesSchemaModule:2"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <ext:UBLExtensions>
        <ext:UBLExtension>
            <ext:ExtensionContent>
                <sac:AdditionalInformation>

                    <%# Ventas Gravadas %>
                    <% if ( comprobante.totalVentaGravada != null){ %>
                    <sac:AdditionalMonetaryTotal>
                        <cbc:ID>1001</cbc:ID>
                        <cbc:PayableAmount currencyID="<%= comprobante.tipoMoneda %>"><%= comprobante.totalVentaGravada.toFixed( 2 ) %></cbc:PayableAmount>
                    </sac:AdditionalMonetaryTotal>
                    <% } %>

                    <%# Venta Inafecta %>
                    <% if ( comprobante.totalVentaInafecta != null){ %>
                    <sac:AdditionalMonetaryTotal>
                        <cbc:ID>1002</cbc:ID>
                        <cbc:PayableAmount currencyID="<%= comprobante.tipoMoneda %>"><%= comprobante.totalVentaInafecta.toFixed( 2 ) %></cbc:PayableAmount>
                    </sac:AdditionalMonetaryTotal>
                    <% } %>

                    <%# Venta Exonerada%>
                    <% if ( comprobante.totalVentaExonerada != null){ %>
                    <sac:AdditionalMonetaryTotal>
                        <cbc:ID>1003</cbc:ID>
                        <cbc:PayableAmount currencyID="<%= comprobante.tipoMoneda %>"><%= comprobante.totalVentaExonerada.toFixed( 2 ) %></cbc:PayableAmount>
                    </sac:AdditionalMonetaryTotal>
                    <% } %>

                    <%# Descuento Total Opcional %>
                    <% if( comprobante.totalDescuento && comprobante.totalDescuento != null){ %>
                    <sac:AdditionalMonetaryTotal>
                        <cbc:ID>2005</cbc:ID>
                        <cbc:PayableAmount currencyID="<%= comprobante.tipoMoneda %>"><%= comprobante.totalDescuento.toFixed( 2 ) %></cbc:PayableAmount>
                    </sac:AdditionalMonetaryTotal>
                    <% } %>

                </sac:AdditionalInformation>
            </ext:ExtensionContent>
        </ext:UBLExtension>

        <%# Firma Digital%>
        <ext:UBLExtension>
            <ext:ExtensionContent>
            </ext:ExtensionContent>
        </ext:UBLExtension>

    </ext:UBLExtensions>

    <cbc:UBLVersionID>2.0</cbc:UBLVersionID>
    <cbc:CustomizationID>1.0</cbc:CustomizationID>


    <cbc:ID><%= comprobante.serie %>-<%= comprobante.numero %></cbc:ID>
    <cbc:IssueDate><%= comprobante.getFechaFormatoSunat() %></cbc:IssueDate>
    <cbc:DocumentCurrencyCode><%= comprobante.tipoMoneda %></cbc:DocumentCurrencyCode>

    <%# Comprobante Afectado %>
    <cac:DiscrepancyResponse>
        <cbc:ReferenceID><%= comprobante.serieAfectado %>-<%= comprobante.numeroAfectado %></cbc:ReferenceID>
        <cbc:ResponseCode><%= comprobante.tipoNotaCredito %></cbc:ResponseCode>
        <cbc:Description><%= comprobante.descripcion %></cbc:Description>
    </cac:DiscrepancyResponse>


    <cac:BillingReference>
        <cac:InvoiceDocumentReference>
            <cbc:ID><%= comprobante.serieAfectado %>-<%= comprobante.numeroAfectado %></cbc:ID>
            <cbc:DocumentTypeCode><%= comprobante.tipoComprobanteAfectado %></cbc:DocumentTypeCode>
        </cac:InvoiceDocumentReference>
    </cac:BillingReference>

    <%# Guias Relacionados %>
    <% if( comprobante.guiasRelacionada != null && comprobante.guiasRelacionada.length > 0){ %>
    <% comprobante.guiasRelacionada.forEach(function( guia ){ %>
    <cac:DespatchDocumentReference>
        <cbc:ID><%= guia.serie %>-<%= guia.numero %></cbc:ID>
        <cbc:DocumentTypeCode><%= guia.tipo %></cbc:DocumentTypeCode>
    </cac:DespatchDocumentReference>
    <% }); %>
    <% } %>

    <%#  Documentos Relacionados %>
    <% if( comprobante.docRelacionada != null && comprobante.docRelacionada.length > 0){ %>
    <% comprobante.docRelacionada.forEach(function( doc ){ %>
    <cac:AdditionalDocumentReference>
        <cbc:ID><%= doc.numero %></cbc:ID>
        <cbc:DocumentTypeCode><%= doc.tipo %></cbc:DocumentTypeCode>
    </cac:AdditionalDocumentReference>
    <% }); %>
    <% } %>

    <%# Duenho de la firma %>
    <cac:Signature>
        <cbc:ID>SignatureTM</cbc:ID>
        <cac:SignatoryParty>
            <cac:PartyIdentification>
                <cbc:ID><%= emisor.idEmisor %></cbc:ID>
            </cac:PartyIdentification>

            <cac:PartyName>
                <cbc:Name>TELEMOVIL SAC</cbc:Name>
            </cac:PartyName>
        </cac:SignatoryParty>

        <cac:DigitalSignatureAttachment>
            <cac:ExternalReference>
                <cbc:URI>#SignatureTM</cbc:URI>
            </cac:ExternalReference>
        </cac:DigitalSignatureAttachment>
    </cac:Signature>

    <%# Emisor %>
    <cac:AccountingSupplierParty>
        <cbc:CustomerAssignedAccountID><%= emisor.idEmisor %></cbc:CustomerAssignedAccountID>
        <cbc:AdditionalAccountID>6</cbc:AdditionalAccountID>
        <cac:Party>
            <%if(emisor.nombreComercial!=null && emisor.nombreComercial.length>0){%>
            <cac:PartyName>
                <cbc:Name><%=emisor.nombreComercial%></cbc:Name>
            </cac:PartyName>
            <%}%>
            <cac:PostalAddress>
                <% if(emisor.domicilio.ubigeo != null && emisor.domicilio.ubigeo.length > 0){ %>
                <cbc:ID><%= emisor.domicilio.ubigeo %></cbc:ID>
                <% } %>
                <% if(emisor.domicilio.direccion != null && emisor.domicilio.direccion.length > 0){ %>
                <cbc:StreetName><%- emisor.domicilio.direccion %></cbc:StreetName>
                <% } %>
                <% if(emisor.domicilio.urbanizacion != null && emisor.domicilio.urbanizacion.length > 0){ %>
                <cbc:CitySubdivisionName><%- emisor.domicilio.urbanizacion %></cbc:CitySubdivisionName>
                <% } %>
                <% if(emisor.domicilio.departamento != null && emisor.domicilio.departamento.length > 0){ %>
                <cbc:CityName><%- emisor.domicilio.departamento %></cbc:CityName>
                <% } %>
                <% if(emisor.domicilio.provincia != null && emisor.domicilio.provincia.length > 0){ %>
                <cbc:CountrySubentity><%- emisor.domicilio.provincia %></cbc:CountrySubentity>
                <% } %>
                <% if(emisor.domicilio.distrito != null && emisor.domicilio.distrito.length > 0){ %>
                <cbc:District><%- emisor.domicilio.distrito %></cbc:District>
                <% } %>
                <cac:Country>
                    <cbc:IdentificationCode>PE</cbc:IdentificationCode>
                </cac:Country>
            </cac:PostalAddress>

            <cac:PartyLegalEntity>
                <cbc:RegistrationName><%= emisor.razonSocial %></cbc:RegistrationName>
            </cac:PartyLegalEntity>
        </cac:Party>
    </cac:AccountingSupplierParty>

    <%# Receptor %>
    <% if(comprobante.receptor && comprobante.receptor.idReceptor){ %>
    <cac:AccountingCustomerParty>
        <cbc:CustomerAssignedAccountID><%= comprobante.receptor.idReceptor %></cbc:CustomerAssignedAccountID>
        <cbc:AdditionalAccountID><%= comprobante.receptor.tipo %></cbc:AdditionalAccountID>
        <cac:Party>
            <cac:PartyLegalEntity>
                <cbc:RegistrationName><%= comprobante.receptor.razonSocial %></cbc:RegistrationName>
            </cac:PartyLegalEntity>
        </cac:Party>
    </cac:AccountingCustomerParty>
    <% }else { %>
    <%# En caso de que receptor no exista%>
    <cac:AccountingCustomerParty>
        <cbc:CustomerAssignedAccountID>-</cbc:CustomerAssignedAccountID>
        <cbc:AdditionalAccountID>-</cbc:AdditionalAccountID>
        <cac:Party>
            <cac:PartyLegalEntity>
                <cbc:RegistrationName>-</cbc:RegistrationName>
            </cac:PartyLegalEntity>
        </cac:Party>
    </cac:AccountingCustomerParty>

    <% } %>

    <%# IGV %>
    <cac:TaxTotal>
        <cbc:TaxAmount currencyID="<%= comprobante.tipoMoneda %>"><%= comprobante.sumatoriaIgv.toFixed( 2 ) %></cbc:TaxAmount>
        <cac:TaxSubtotal>
            <cbc:TaxAmount currencyID="<%= comprobante.tipoMoneda %>"><%= comprobante.sumatoriaIgv.toFixed( 2 ) %></cbc:TaxAmount>
            <cac:TaxCategory>
                <cac:TaxScheme>
                    <cbc:ID>1000</cbc:ID>
                    <cbc:Name>IGV</cbc:Name>
                    <cbc:TaxTypeCode>VAT</cbc:TaxTypeCode>
                </cac:TaxScheme>
            </cac:TaxCategory>
        </cac:TaxSubtotal>
    </cac:TaxTotal>

    <%# ISC OPCIONAL %>
    <% if( comprobante.sumatoriaIsc && comprobante.sumatoriaIsc != null) { %>
    <cac:TaxTotal>
        <cbc:TaxAmount currencyID="<%= comprobante.tipoMoneda %>"><%= comprobante.sumatoriaIsc.toFixed( 2 ) %></cbc:TaxAmount>
        <cac:TaxSubtotal>
            <cbc:TaxAmount currencyID="<%= comprobante.tipoMoneda %>"><%= comprobante.sumatoriaIsc.toFixed( 2 ) %></cbc:TaxAmount>
            <cac:TaxCategory>
                <cac:TaxScheme>
                    <cbc:ID>2000</cbc:ID>
                    <cbc:Name>ISC</cbc:Name>
                    <cbc:TaxTypeCode>EXC</cbc:TaxTypeCode>
                </cac:TaxScheme>
            </cac:TaxCategory>
        </cac:TaxSubtotal>
    </cac:TaxTotal>
    <% } %>

    <%# Otros Tributos OPCIONAL %>
    <% if(comprobante.sumatoriaOtrosTributos && comprobante.sumatoriaOtrosTributos != null) { %>
    <cac:TaxTotal>
        <cbc:TaxAmount currencyID="<%= comprobante.tipoMoneda %>"><%= comprobante.sumatoriaOtrosTributos.toFixed( 2 ) %></cbc:TaxAmount>
        <cac:TaxSubtotal>
            <cbc:TaxAmount currencyID="<%= comprobante.tipoMoneda %>"><%= comprobante.sumatoriaOtrosTributos.toFixed( 2 ) %></cbc:TaxAmount>
            <cac:TaxCategory>
                <cac:TaxScheme>
                    <cbc:ID>9999</cbc:ID>
                    <cbc:Name>OTROS</cbc:Name>
                    <cbc:TaxTypeCode>OTH</cbc:TaxTypeCode>
                </cac:TaxScheme>
            </cac:TaxCategory>
        </cac:TaxSubtotal>
    </cac:TaxTotal>
    <% } %>

    <cac:LegalMonetaryTotal>
        <%# Sumatoria Otros Cargos OPCIONAL %>
        <% if( comprobante.sumatoriaOtrosCargos != null){ %>
        <cbc:ChargeTotalAmount currencyID="<%= comprobante.tipoMoneda %>"><%= comprobante.sumatoriaOtrosCargos.toFixed( 2 ) %></cbc:ChargeTotalAmount>
        <% } %>
        <%# Total Venta(Importe) %>
        <cbc:PayableAmount currencyID="<%= comprobante.tipoMoneda %>"><%= comprobante.totalVenta.toFixed( 2 ) %></cbc:PayableAmount>
    </cac:LegalMonetaryTotal>

    <% comprobante.items.forEach(function( item , index ){ %>

    <cac:CreditNoteLine>
        <cbc:ID><%= index + 1 %></cbc:ID>
        <cbc:CreditedQuantity unitCode="<%= item.unidadMedidaCantidad %>"><%= item.cantidad %></cbc:CreditedQuantity>
        <cbc:LineExtensionAmount currencyID="<%= comprobante.tipoMoneda %>"><%= item.valorVenta.toFixed( 2 ) %></cbc:LineExtensionAmount>

        <cac:PricingReference>
            <% if(item.tipoPrecioVentaUnitario == '02'){ %>
            <cac:AlternativeConditionPrice>
                <cbc:PriceAmount currencyID="<%= comprobante.tipoMoneda %>">0.00</cbc:PriceAmount>
                <cbc:PriceTypeCode>01</cbc:PriceTypeCode>
            </cac:AlternativeConditionPrice>
            <% } %>
            <cac:AlternativeConditionPrice>
                <cbc:PriceAmount currencyID="<%= comprobante.tipoMoneda %>"><%= item.precioVentaUnitario.toFixed( 2 ) %></cbc:PriceAmount>
                <cbc:PriceTypeCode><%= item.tipoPrecioVentaUnitario %></cbc:PriceTypeCode>
            </cac:AlternativeConditionPrice>
        </cac:PricingReference>

        <%# ISC OPCIONAL %>
        <% if(item.montoAfectacionIsc && item.montoAfectacionIsc != null && item.tipoAfectacionIsc != null){ %>
        <cac:TaxTotal>
            <cbc:TaxAmount currencyID="<%= comprobante.tipoMoneda %>"><%= item.montoAfectacionIsc.toFixed( 2 ) %></cbc:TaxAmount>
            <cac:TaxSubtotal>
                <cbc:TaxAmount currencyID="<%= comprobante.tipoMoneda %>"><%= item.montoAfectacionIsc.toFixed( 2 ) %></cbc:TaxAmount>
                <cac:TaxCategory>
                    <cbc:TierRange><%= item.tipoAfectacionIsc %></cbc:TierRange>
                    <cac:TaxScheme>
                        <cbc:ID>2000</cbc:ID>
                        <cbc:Name>ISC</cbc:Name>
                        <cbc:TaxTypeCode>EXC</cbc:TaxTypeCode>
                    </cac:TaxScheme>
                </cac:TaxCategory>
            </cac:TaxSubtotal>
        </cac:TaxTotal>
        <% } %>

        <%# IGV %>
        <cac:TaxTotal>
            <cbc:TaxAmount currencyID="<%= comprobante.tipoMoneda %>"><%= item.montoAfectacionIgv.toFixed( 2 ) %></cbc:TaxAmount>
            <cac:TaxSubtotal>
                <cbc:TaxAmount currencyID="<%= comprobante.tipoMoneda %>"><%= item.montoAfectacionIgv.toFixed( 2 ) %></cbc:TaxAmount>
                <cac:TaxCategory>
                    <cbc:TaxExemptionReasonCode><%= item.tipoAfectacionIgv %></cbc:TaxExemptionReasonCode>
                    <cac:TaxScheme>
                        <cbc:ID>1000</cbc:ID>
                        <cbc:Name>IGV</cbc:Name>
                        <cbc:TaxTypeCode>VAT</cbc:TaxTypeCode>
                    </cac:TaxScheme>
                </cac:TaxCategory>
            </cac:TaxSubtotal>
        </cac:TaxTotal>

        <cac:Item>
            <cbc:Description><%= item.descripcion %></cbc:Description>

            <% if( item.codigoProducto != null){ %>
            <cac:SellersItemIdentification>
                <cbc:ID><%= item.codigoProducto %> </cbc:ID>
            </cac:SellersItemIdentification>
            <% } %>

        </cac:Item>

        <cac:Price>
            <cbc:PriceAmount currencyID="<%= comprobante.tipoMoneda %>"><%= item.valorUnitario.toFixed( 2 ) %></cbc:PriceAmount>
        </cac:Price>
    </cac:CreditNoteLine>
    <% }); %>
</CreditNote>