<?xml version="1.0" encoding="utf-8" standalone="no"?>
<SummaryDocuments
        xmlns="urn:sunat:names:specification:ubl:peru:schema:xsd:SummaryDocuments-1"
        xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"
        xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
        xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"
        xmlns:sac="urn:sunat:names:specification:ubl:peru:schema:xsd:SunatAggregateComponents-1"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="urn:sunat:names:specification:ubl:peru:schema:xsd:InvoiceSummary-1">

    <ext:UBLExtensions>
        <ext:UBLExtension>
            <ext:ExtensionContent>
            </ext:ExtensionContent>
        </ext:UBLExtension>
    </ext:UBLExtensions>

    <cbc:UBLVersionID>2.0</cbc:UBLVersionID>
    <cbc:CustomizationID>1.0</cbc:CustomizationID>

    <cbc:ID>RC-<%= comprobante.getFechaEmisionFormatoSunat().replace( /-/g , "" ) %>-<%= comprobante.numero %>></cbc:ID>
    <cbc:ReferenceDate><%= comprobante.getFechaDocsFormatoSunat() %></cbc:ReferenceDate>
    <cbc:IssueDate><%= comprobante.getFechaEmisionFormatoSunat() %></cbc:IssueDate>


    <%# Duenho de la firma %>
    <cac:Signature>
        <cbc:ID>SignatureTM</cbc:ID>
        <cac:SignatoryParty>
            <cac:PartyIdentification>
                <cbc:ID>20434178780</cbc:ID>
            </cac:PartyIdentification>

            <cac:PartyName>
                <cbc:Name>TELEMOVIL SAC</cbc:Name>
            </cac:PartyName>
        </cac:SignatoryParty>

        <cac:DigitalSignatureAttachment>
            <cac:ExternalReference>
                <cbc:URI>#SignatureTM</cbc:URI>
            </cac:ExternalReference>
        </cac:DigitalSignatureAttachment>
    </cac:Signature>

    <%# Emisor %>
    <cac:AccountingSupplierParty>
        <cbc:CustomerAssignedAccountID><%= emisor.idEmisor %></cbc:CustomerAssignedAccountID>
        <cbc:AdditionalAccountID>6</cbc:AdditionalAccountID>
        <cac:Party>
            <%if(emisor.nombreComercial!=null && emisor.nombreComercial.length>0){%>
            <cac:PartyName>
                <cbc:Name><%=emisor.nombreComercial%></cbc:Name>
            </cac:PartyName>
            <%}%>
            <cac:PostalAddress>
                <cbc:ID><%= emisor.domicilio.ubigeo %></cbc:ID>
                <cbc:StreetName><%= emisor.domicilio.direccion %></cbc:StreetName>
                <cbc:CitySubdivisionName><%= emisor.domicilio.urbanizacion %></cbc:CitySubdivisionName>
                <cbc:CityName><%= emisor.domicilio.departamento %></cbc:CityName>
                <cbc:CountrySubentity><%= emisor.domicilio.provincia %></cbc:CountrySubentity>
                <cbc:District><%= emisor.domicilio.distrito %></cbc:District>
                <cac:Country>
                    <cbc:IdentificationCode>PE</cbc:IdentificationCode>
                </cac:Country>
            </cac:PostalAddress>

            <cac:PartyLegalEntity>
                <cbc:RegistrationName><%= emisor.razonSocial %></cbc:RegistrationName>
            </cac:PartyLegalEntity>
        </cac:Party>
    </cac:AccountingSupplierParty>

    <%# Items %>
    <% comprobante.items.forEach(function( item , index ){ %>
    <sac:SummaryDocumentsLine>
        <cbc:LineID><%= index + 1 %></cbc:LineID>
        <cbc:DocumentTypeCode><%= item.tipoDocumento %></cbc:DocumentTypeCode>
        <sac:DocumentSerialID><%= item.serie %></sac:DocumentSerialID>
        <sac:StartDocumentNumberID><%= item.numeroInicio %></sac:StartDocumentNumberID>
        <sac:EndDocumentNumberID><%= item.numeroFin %></sac:EndDocumentNumberID>

        <sac:TotalAmount currencyID="PEN"><%= item.totalVenta.toFixed(2) %></sac:TotalAmount>

        <sac:BillingPayment>
            <cbc:PaidAmount currencyID="PEN"><%= item.totalVentaGravada.toFixed(2) %></cbc:PaidAmount>
            <cbc:InstructionID>01</cbc:InstructionID>
        </sac:BillingPayment>


        <sac:BillingPayment>
            <cbc:PaidAmount currencyID="PEN"><%= item.totalVentaExonerada.toFixed(2) %></cbc:PaidAmount>
            <cbc:InstructionID>02</cbc:InstructionID>
        </sac:BillingPayment>

        <sac:BillingPayment>
            <cbc:PaidAmount currencyID="PEN"><%= item.totalVentaInafecta.toFixed(2) %></cbc:PaidAmount>
            <cbc:InstructionID>03</cbc:InstructionID>
        </sac:BillingPayment>


        <cac:AllowanceCharge>
            <cbc:ChargeIndicator>true</cbc:ChargeIndicator>
            <cbc:Amount currencyID="PEN"><%= item.sumatoriaOtrosCargos.toFixed(2) %></cbc:Amount>
        </cac:AllowanceCharge>

        <cac:TaxTotal>
            <cbc:TaxAmount currencyID="PEN"><%= item.sumatoriaIsc.toFixed(2) %></cbc:TaxAmount>
            <cac:TaxSubtotal>
                <cbc:TaxAmount currencyID="PEN"><%= item.sumatoriaIsc.toFixed(2) %></cbc:TaxAmount>
                <cac:TaxCategory>
                    <cac:TaxScheme>
                        <cbc:ID>2000</cbc:ID>
                        <cbc:Name>ISC</cbc:Name>
                        <cbc:TaxTypeCode>EXC</cbc:TaxTypeCode>
                    </cac:TaxScheme>
                </cac:TaxCategory>
            </cac:TaxSubtotal>
        </cac:TaxTotal>

        <cac:TaxTotal>
            <cbc:TaxAmount currencyID="PEN"><%= item.sumatoriaIgv.toFixed(2) %></cbc:TaxAmount>
            <cac:TaxSubtotal>
                <cbc:TaxAmount currencyID="PEN"><%= item.sumatoriaIgv.toFixed(2) %></cbc:TaxAmount>
                <cac:TaxCategory>
                    <cac:TaxScheme>
                        <cbc:ID>1000</cbc:ID>
                        <cbc:Name>IGV</cbc:Name>
                        <cbc:TaxTypeCode>VAT</cbc:TaxTypeCode>
                    </cac:TaxScheme>
                </cac:TaxCategory>
            </cac:TaxSubtotal>
        </cac:TaxTotal>

        <cac:TaxTotal>
            <cbc:TaxAmount currencyID="PEN"><%= item.sumatoriaOtrosTributos.toFixed(2) %></cbc:TaxAmount>
            <cac:TaxSubtotal>
                <cbc:TaxAmount currencyID="PEN"><%= item.sumatoriaOtrosTributos.toFixed(2) %></cbc:TaxAmount>
                <cac:TaxCategory>
                    <cac:TaxScheme>
                        <cbc:ID>9999</cbc:ID>
                        <cbc:Name>OTROS</cbc:Name>
                        <cbc:TaxTypeCode>OTH</cbc:TaxTypeCode>
                    </cac:TaxScheme>
                </cac:TaxCategory>
            </cac:TaxSubtotal>
        </cac:TaxTotal>
    </sac:SummaryDocumentsLine>
    <% }); %>

</SummaryDocuments>