<!-- views/partials/footer.ejs -->

<p class="text-center text-muted">© Copyright 2016 irvinstone</p>
<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
<script src="scripts/script.js" ></script>