<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Agente Factura Online</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="stylesheets/bootstrap.css">
<style>
    body    { padding-top:50px; }
</style>