<!DOCTYPE html>
<html lang="en" ng-app="logApp">
<head>
	<meta charset="UTF-8">
	<title>Agente Factura Online</title>
	<link rel="stylesheet" href="../stylesheets/style.css">
	<link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
	<div ng-controller="LogController">
		<img src="../images/Fo_logo.png" alt="logo">
		<div>
		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active"><a href="#logs" aria-controls="home" role="tab" data-toggle="tab">Logs</a></li>
		    <li role="presentation"><a href="#facturas" aria-controls="profile" role="tab" data-toggle="tab">Facturas</a></li>
				<li role="presentation"><a href="#boletas" aria-controls="profile" role="tab" data-toggle="tab">Boletas</a></li>
				<li role="presentation"><a href="#notascredito" aria-controls="profile" role="tab" data-toggle="tab">Notas Credito</a></li>
				<li role="presentation"><a href="#notasdebito" aria-controls="profile" role="tab" data-toggle="tab">Notas Debito</a></li>
		  </ul>

		  <!-- Tab panes -->
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane fade in active" id="logs">
		    	<div>
						<table>
							<tbody class="table-title">
								<tr>
									<th style="width:25%">Fecha</th>
									<th>Evento</th>
								</tr>
							</tbody>
						</table>
						<table class="table-body">
							<tbody>
								<tr ng-repeat="log in objectLogs track by $index">
									<td style="width:25%">{{parseDate(log.timestamp)}}</td>
									<td>{{log.message}}</td>
								</tr>
							</tbody>
						</table>
					</div>
		    </div>
		    <div role="tabpanel" class="tab-pane fade" id="facturas">
					<div>
						<table>
							<tbody class="table-title">
								<tr>
									<th style="width:20%">Comprobante</th>
									<th>Estado</th>
									<th>Motivo</th>
								</tr>
							</tbody>
						</table>
						<table class="table-body">
							<tbody>
								<tr ng-repeat="log in objectStatus.facturas track by $index">
									<td style="width:20%">{{log.serie}}-{{log.numero}}</td>
									<td>
										<span ng-if="log.rechazado">Rechazado.</span>
										<span ng-if="log.enviado && !log.rechazado">Enviado Exitosamente.</span>
										<span ng-if="!log.enviado && !log.rechazado">Envio en Proceso</span>
									</td>
									<td>
										<span ng-if="log.motivoRechazo">{{log.motivoRechazo}}</span>
										<span ng-if="!log.motivoRechazo">-</span>
									</td>
								</tr>
							</tbody>
						</table>	
					</div>
		    </div>
				<div role="tabpanel" class="tab-pane fade" id="boletas">
					<div>
						<table>
							<tbody class="table-title">
								<tr>
									<th style="width:20%">Comprobante</th>
									<th>Estado</th>
									<th>Motivo</th>
								</tr>
							</tbody>
						</table>
						<table>
							<tbody>
								<tr ng-repeat="log in objectStatus.boletas track by $index">
									<td style="width:20%">{{log.serie}}-{{log.numero}}</td>
									<td>
										<span ng-if="log.rechazado">Rechazado.</span>
										<span ng-if="log.enviado && !log.rechazado">Enviado Exitosamente.</span>
										<span ng-if="!log.enviado && !log.rechazado">Envio en Proceso</span>
									</td>
									<td>
										<span ng-if="log.motivoRechazo">{{log.motivoRechazo}}</span>
										<span ng-if="!log.motivoRechazo">-</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
		    </div>
				<div role="tabpanel" class="tab-pane fade" id="notascredito">
					<div>
						<table>
							<tbody class="table-title">
								<tr>
									<th style="width:20%">Comprobante</th>
									<th>Estado</th>
									<th>Motivo</th>
								</tr>
							</tbody>
						</table>
						<table>
							<tbody>
								<tr ng-repeat="log in objectStatus.notasCredito track by $index">
									<td style="width:20%">{{log.serie}}-{{log.numero}}</td>
									<td>
										<span ng-if="log.rechazado">Rechazado.</span>
										<span ng-if="log.enviado && !log.rechazado">Enviado Exitosamente.</span>
										<span ng-if="!log.enviado && !log.rechazado">Envio en Proceso</span>
									</td>
									<td>
										<span ng-if="log.motivoRechazo">{{log.motivoRechazo}}</span>
										<span ng-if="!log.motivoRechazo">-</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
		    </div>
				<div role="tabpanel" class="tab-pane fade" id="notasdebito">
					<div>
						<table>
							<tbody class="table-title">
								<tr>
									<th style="width:20%">Comprobante</th>
									<th>Estado</th>
									<th>Motivo</th>
								</tr>
							</tbody>
						</table>
						<table>
							<tbody>
								<tr ng-repeat="log in objectStatus.notasDebito track by $index">
									<td style="width:20%">{{log.serie}}-{{log.numero}}</td>
									<td>
										<span ng-if="log.rechazado">Rechazado.</span>
										<span ng-if="log.enviado && !log.rechazado">Enviado Exitosamente.</span>
										<span ng-if="!log.enviado && !log.rechazado">Envio en Proceso</span>
									</td>
									<td>
										<span ng-if="log.motivoRechazo">{{log.motivoRechazo}}</span>
										<span ng-if="!log.motivoRechazo">-</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
		    </div>
		  </div>
		</div>
	</div>
	<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
	<script src="../../node_modules/angular/angular.min.js"></script>
	<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
	<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../../node_modules/moment/moment.js"></script>
	<script src="../scripts/logs.js"></script>
	<script>if (window.module) module = window.module;</script>
</body>
</html>
