@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.otf);
}
html, body{
	height: 100%;
	width: 100%;
	margin: 0;
}
.general_container{
	height: 100%;
	width: 100%;
	position: relative;
	background: url(../images/bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: Montserrat;
}
img{
	width: 360px;
}
h1{
	/*position: absolute;*/
	text-align: center;
	padding: 0px 72px;
	color: #FFF;
	margin: 0;
}
.center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
   -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari */
    transform: translate(-50%, -50%);
}