@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.otf);
}
body {
  padding: 16px;
  font-family: Montserrat !important;
  font-size: 14px !important;
  background: #555 !important;
}

a {
  color: #00B7FF;
}
.block{
	display: block;
}
.left-48{
	margin-left: 48px;
}
.tab-content{
	background: #FFF;
	padding: 48px;
}
table{
	width:100%;
}
th{
	font-size: 18px;
}
.table-title{
	border-bottom: 2px solid #CCC;
}
.table-body{
	margin-top: 32px;
}
img{
	width: 120px;
	position: absolute;
    right: 16px;
    top: 24px;
}
li > a{
	/*background: #FFF;*/
}
/*.active > a{
	background-color: #112f3a !important;
	color: #FFF !important;
	border-top-color: #112f3a !important;
	border-left-color: #112f3a !important;
	border-right-color: #112f3a !important;

}*/
