<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">

<header>
  <% include ../partials/header %>
</header>

<main>
  <div class="well">
    <h1>Binvenido Telemovil SAC.</h1>
    <p>Aqui podra ver todos los logs correspondientes</p>
  </div>
  <div class="">
    <h2>Facturas No Emitidas</h2>
    <table class="table" id="facturas">
      <tr>
        <th>Serie</th>
        <th>Numero</th>
        <th>Receptor</th>
        <th>FechaEmision</th>
        <th>Motivo Rechazo</th>
      </tr>


      <% facturas.forEach(function(f){ %>
      <tr>
        <td><%= f.serie%></td>
        <td><%= f.numero%></td>

        <td><%= f.fechaEmision%></td>
        <td><%= f.motivoRechazo%></td>
      </tr>
      <% }) %>

    </table>
    <ul>

    </ul>
  </div>

  <div class="">
    <h2>Boletas No Emitidas</h2>
    <table class="table" id="boletas">
      <tr>
        <th>Serie</th>
        <th>Numero</th>
        <th>Receptor</th>
        <th>FechaEmision</th>
        <th>Motivo Rechazo</th>
      </tr>


      <% boletas.forEach(function(b){ %>
      <tr>
        <td><%= b.serie%></td>
        <td><%= b.numero%></td>
        <td>
          <% if (b.receptor) { %>
          <%= JSON.parse(b.receptor).idReceptor %>
          <% } %>
        </td>
        <td><%= b.fechaEmision%></td>
        <td><%= b.motivoRechazo%></td>
      </tr>
      <% }) %>

    </table>
    <ul>

    </ul>
  </div>

  <div class="">
    <h2>NotasDebito No Emitidas</h2>
    <table class="table" id="notasDebito">
      <tr>
        <th>Serie</th>
        <th>Numero</th>
        <th>Receptor</th>
        <th>FechaEmision</th>
        <th>Motivo Rechazo</th>
      </tr>


      <% notasDebito.forEach(function(nb){ %>
      <tr>
        <td><%= nb.serie%></td>
        <td><%= nb.numero%></td>
        <td>
          <% if (nb.receptor) { %>
          <%= JSON.parse(nb.receptor).idReceptor %>
          <% } %>
        </td>
        <td><%= nb.fechaEmision%></td>
        <td><%= nb.motivoRechazo%></td>
      </tr>
      <% }) %>

    </table>
    <ul>

    </ul>
  </div>
  <div class="">
    <h2>NotasCredito No Emitidas</h2>
    <table class="table" id="notasCredito">
      <tr>
        <th>Serie</th>
        <th>Numero</th>
        <th>Receptor</th>
        <th>FechaEmision</th>
        <th>Motivo Rechazo</th>
      </tr>


      <% notasCredito.forEach(function(nc){ %>
      <tr>
        <td><%= nc.serie%></td>
        <td><%= nc.numero%></td>
        <td>
          <% if (nc.receptor) { %>
          <%= JSON.parse(nc.receptor).idReceptor %>
          <% } %>
        </td>
        <td><%= nc.fechaEmision%></td>
        <td><%= nc.motivoRechazo%></td>
      </tr>
      <% }) %>

    </table>
    <ul>

    </ul>
  </div>
</main>

<footer>
  <% include ../partials/footer %>
</footer>

</body>
</html>
